{% extends 'base.html.twig' %}

{% block title %} Changer mon mot de passe - La boutique Française{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1><br>
- <a href="{{ path ('account') }}">Retourner à mon compte </a><br>

<hr>
{% if notification %}
<div class="alert alert-info">{{ notification }}</div>
{% endif %}

{{ form(form)}}
<hr>

<br>
{% endblock %}
